<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1">

	<display-name>Turnos Rest Jersey</display-name>
	<welcome-file-list>
	    <!-- TODO: APUNTAR A UNA PAGINA ESTATICA -->
		<welcome-file>swagger/index.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
        <servlet-name>ETLT API</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>
	            io.swagger.jaxrs.listing,
	            com.turnos.restservice
            </param-value>
        </init-param>
        <init-param>
            <param-name>jersey.config.server.provider.scanning.recursive</param-name>
			<param-value>true</param-value>
		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ETLT API</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <!-- <param-value>http://raspberrypi:8081/ETLTServidorREST-1.0/api</param-value> -->
            <param-value>http://localhost:9090/ETLTServidorREST/api</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    
	<resource-ref>
		<description>AccesoBD</description>
		<res-ref-name>jdbc/turnos</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
    <listener>
        <listener-class>com.turnos.restservice.ContextFinalizer</listener-class>
    </listener>
    
</web-app>